<?xml version="1.0"?>
<launch>
  <arg name="contact_torso" default="true" />
  <arg name="contact_head" default="true" />
  <arg name="contact_left_arm" default="true" />
  <arg name="contact_right_arm" default="true" />

  <include file="$(find nao_skin)/launch/nao_skin.launch">
    <arg name="version" value="V40_skin_highres" />
    <arg name="contact_torso" value="$(arg contact_torso)" />
    <arg name="contact_head" value="$(arg contact_head)" />
    <arg name="contact_left_arm" value="$(arg contact_left_arm)" />
    <arg name="contact_right_arm" value="$(arg contact_right_arm)" />
  </include>
</launch>
