<?xml version="1.0"?>
<launch>
  <!-- Load the URDF Model -->
  <arg name="version" default="V40_skin_lowres" />
  <arg name="contact_torso" default="true" />
  <arg name="contact_head" default="true" />
  <arg name="contact_left_arm" default="true" />
  <arg name="contact_right_arm" default="true" />
  <param name="robot_description" command="$(find xacro)/xacro $(find nao_skin)/urdf/nao$(arg version)_generated_urdf/nao_robot.xacro contact_torso:=$(arg contact_torso) contact_head:=$(arg contact_head) contact_left_arm:=$(arg contact_left_arm) contact_right_arm:=$(arg contact_right_arm)" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Use PIDs?? -->
  <arg name="use_pid" value="true"/>
  <group if="$(arg use_pid)">
    <rosparam file="$(find nao_gazebo_plugin)/config/gazebo_ros_control_params.yaml" command="load"/>
  </group>

  <!-- Call Nao Robot Position Controller -->
  <include file="$(find nao_skin)/launch/nao_control_position_skin.launch"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x -0.5 -y 1 -z 0.535 -model nao_v40" /> 
</launch>
